.navbar {
  width:auto;
  display:block;
  text-align:center;
  font-family:Oswald;
  line-height:1.2;
}



.navbar li{
    font-size:22px;
    color:#EEEEEE;
    background-color: #333333;
    text-decoration:none;
    border-radius: 3px;
    padding:14px 20px; 
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:2px;   
    display:block;   
    position:relative;
    transition:all 0.3s;
}

.navbar :hover {
  color:#333333;
  background-color:#F3F3F3;
}